/*
* Sarah Houseal
* 10/23/18
* My Favorite Things
*/

/* The Universal Selector */

* {

}

/* Body Attributes Here */
/* Makes the background color on my schedule aliceblue */
body {
    background-color: ghostwhite;
    font-family: fantasy;
}

img { 
}
    #candycorn { width: 200px; height: 150px; }
    #pumpkins { width: 200px; height: 150px; }
    #trees { width: 200px; height: 150px; }
